@media (max-width: 1095px) {
    .header__menu-link {
        font-size: 16px;
    }
    .header__menu-list li {
        margin: 0 5px;
    }
    .header__slider-title {
        font-size: 60px;
    }
    .header__slider-text-wripper {
        padding: 20px 16px;
        width: 450px;
        font-size: 16px;
        max-width: 430px;
        line-height: 24px;
    }
}